<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>National Treasure Adventure</title>
  </head>
  <body>
    <h1> National Treasure: A Novel </h1>
    <p> Flask is Fun </p>
  </body>
</html>

<html>
   <body>
      <head>
         <title>HTML Forms</title>
      </head>
      <form>
         Welcome to the interactive National Treasure Build Your Own Adventure Game!
         <br>
         <input type="radio" name="name" value="Ben"> Ben<br>
         <input type="radio" name="name" value="Riley"> Riley<br>
         <input type="radio" name="name" value="Abigail"> Abigail
         <br>
         <input type="submit" value="Submit">
         <body onload="myFunction()">

  <h1>"The value for number is: " <span id="myText"></span></h1>

</body>
      </form>
   </body>
</html>



function Chapter1(){
  document.write()
}